@charset "utf";
.main {
  position: relative;
  padding: 0 0 180px;
}

/* category =================================================*/
.main-category {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;

  /* background-color: aqua; */
}
.main-category nav {
  width: calc(100% - 16px);
  padding: 16px 0;
}
.main-category ul {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
  margin: 0 auto;
  /* background-color: black; */
}
.main-category ul li {
  position: relative;

  padding-top: 100%; /* 너비와 같은 높이(100%)를 만듭니다 */
  height: 0; /* 콘텐츠가 높이에 영향을 주지 않도록 높이를 0으로 설정 */
  border-radius: 12px;
  text-align: center;

  background-color: var(--point-bg);
  transition: all 0.4s;
}

.main-category ul li dl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.main-category dt {
  height: 31px;
}
.main-category dt img {
  height: inherit;
  object-fit: contain;
}
@media screen and (min-width: 431px) {
  .main-category dt {
  }
}
@media screen and (min-width: 640px) {
  .main-category ul {
  }
  .main-category ul li {
    height: 180px;
    padding-top: 0;
  }
  .main-category dt {
    height: 45px;
  }
}
@media screen and (min-width: 1023px) {
  .main-category ul {
    grid-template-columns: repeat(6, 1fr);
  }
}
.main-category dd {
  text-align: center;
  margin: 0 auto;
}
/* category end =============================================*/

/* welfare ==================================================*/
.main-welfare {
  position: relative;
  width: 100%;
  padding-bottom: 70px;
}

/* title */
.main-welfare .main-title {
  position: relative;
  padding: 12px 0;
}
.main-welfare h3 {
  font-size: 143%;
  letter-spacing: -0.15em;
  font-weight: 700;
  color: var(--black-color03);
}
.main-welfare .main-title .tab-list {
  display: flex;
  gap: 2.6vw;
  padding: 12px 0;
}
.main-welfare .main-title .tab-list li {
  font-size: 80%;
  font-weight: 500;
  color: var(--black-color05);
  cursor: pointer;
}
.main-welfare .tab-list > li.on {
  color: var(--black-color03);
  font-weight: 700;
}
.main-welfare .main-title .tab-list a {
}
/* title end */
/* content */
.welfare-contents {
  position: relative;
  width: 100%;
  border: 1px solid var(--border-color01);
  border-radius: 15px;
}
.welfare-contents .news-item {
  width: 100%;
}
.welfare-contents .news-item-list {
  padding: 15px 25px;
}
.welfare-contents {
  font-size: var(--title-20);
}
.welfare-contents .news-item-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray-bg);
}
.welfare-contents .news-item-list li:last-child {
  border-bottom: 0;
}
.welfare-contents dd {
  display: none;
}
/* content날짜 모바일에서는 안보이게 함 */
.welfare-contents .news-item-list li dl {
  display: flex;
}
/* 각 텝메뉴의 아이콘 */
.icon {
  display: inline-block;
  width: 65px;
  height: 25px;

  align-content: center;
  justify-self: center;
  color: var(--point-white);
  font-size: 60%;
  font-weight: 500;
  text-align: center;
  border-radius: 16px;
  background-color: var(--point-color06);
}

.welfare-contents .news-item {
  display: none;
}
.welfare-contents .news-item.on {
  display: block;
}
/* content end */

/* letter */
.letter {
  position: relative;
  width: 100%;
  /* display: none; */
  padding-top: 40px;
}
.letter .welfare-contents {
  position: relative;
  width: 100%;
  display: flex;
  gap: 24px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid var(--border-color01);
  transition: all 0.4s;
}
.letter .thumb {
  width: 27vw;
  border: 4px solid var(--border-color01);
  border-width: 2px;
  border-radius: 10px;
  overflow: hidden;
}
.letter .thumb img {
  width: 100%;
}
.letter .info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter .info {
  /* padding-left: 27px; */
  font-size: 90%;
}
.letter .info dt {
  white-space: normal;
  overflow-wrap: break-word;
}
/* letter end */

/* 반응형 */
@media screen and (min-width: 480px) {
  .letter .thumb {
    width: 180px;
    border-width: 2px;
  }
  .letter {
    padding-top: 50px;
  }
  .letter .welfare-contents {
    padding: 30px;
  }
  .main-welfare .main-title .tab-list li {
    font-size: var(--title-20);
  }
}
@media screen and (min-width: 680px) {
  .main-welfare {
    padding-bottom: 120px;
  }
  .main-welfare h3 {
    font-size: 200%;
  }
  .icon {
    display: inline-block;
    width: 70px;
    height: 20px;
  }
  .welfare-contents dd {
    display: inline-block;
  }
  .welfare-contents .news-item-list {
    padding: 15px 30px;
  }
  .letter .thumb {
    width: 180px;
    border-width: 2px;
  }
  .letter {
    position: relative;
    padding-top: 70px;
  }
  .letter .welfare-contents {
    padding: 35px;
    gap: 20px;

    height: calc(100% - 81px);
  }
}
@media screen and (min-width: 1023px) {
  .width-custom {
    gap: 32px;
  }
  .main-title {
    margin-bottom: 26px;
  }
  .main-welfare .main-title {
    justify-content: space-between;
    align-items: center;
  }
  .welfare-contents dl {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .welfare-contents dd {
    display: inline-block;
  }
  .main-welfare .main-title .tab-list {
    padding: 0 12px;
  }
  .main-welfare .main-title .tab-list li {
    font-size: var(--title-20);
  }

  /* news */
  .news {
    width: calc(100% - 360px);
  }
  .news .welfare-contents {
    height: calc(100% - 81px);
  }
  .news-item {
    height: 100%;
  }
  .welfare-contents .news-item-list li {
    padding: 16px 0;
  }
  /* letter */
  .letter {
    padding-top: 0;
    width: 360px;
  }
  .letter .welfare-contents {
    flex-direction: column;
  }
  .main-title {
    display: flex;
  }
  .main-welfare .width-custom {
    display: flex;
  }
  .letter .welfare-contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .letter .thumb {
    width: 100px;
  }
  .letter .thumb img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main-welfare h3 {
    font-size: 230%;
  }
  .icon {
    display: inline-block;
    width: 65px;
    height: 25px;
  }
  .welfare-contents .news-item-list {
    padding: 16px 40px;
  }
  .letter .thumb {
    width: 100px;
    border: 4px solid var(--border-color01);
    margin: 0 auto;
  }
  .letter .info {
    padding-left: 0;
  }
}

/* welfare end ==============================================*/

/* business================================================= */
.main-business {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7vw 0 8vw;

  background-color: var(--point-bg03);
}
/* title */
.main-business .main-title {
  flex-direction: column;
}
.main-business .main-title strong {
  color: var(--point-color10);
}
/* title end */

/* icon */
.main-business ul {
  width: calc(100% - 16px);
  padding: 24px 0;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
  margin: 0 auto;
}

.main-business ul li {
  position: relative;

  padding-top: 100%; /* 너비와 같은 높이(100%)를 만듭니다 */
  height: 0; /* 콘텐츠가 높이에 영향을 주지 않도록 높이를 0으로 설정 */
  border-radius: 12px;
  text-align: center;

  background-color: #fff;
  transition: all 0.4s;
}

.main-business ul li dl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main-business dt {
  height: 31px;
}
.main-business dt img {
  height: inherit;
  object-fit: contain;
}
@media screen and (min-width: 431px) {
  .main-business dt {
    height: 40px;
  }
}
@media screen and (min-width: 640px) {
  .main-business ul {
  }
  .main-business ul li {
    height: 180px;
    padding-top: 0;
  }
  .main-business dt {
    height: 45px;
  }
}
@media screen and (min-width: 1023px) {
  .main-business .mo {
    display: block;
  }
  .main-business .width-custom {
    display: flex;
  }
  .main-business .main-title h6 {
    padding-left: 4px;
  }
  .main-business dt {
    width: 100%;
    height: 100%;
  }
  .main-business ul {
    max-height: 200px;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
  .main-business ul li {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 너비와 같은 높이(100%)를 만듭니다 */
    height: 0; /* 콘텐츠가 높이에 영향을 주지 않도록 높이를 0으로 설정 */
    background: #fff;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.4s;
  }

  .main-business ul li dl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .main-business dt {
    width: 100%;
    height: 100%;
  }
  .main-business dt img {
    height: inherit;
    object-fit: contain;
  }
}
.main-business dd {
  text-align: center;
  margin: 0 auto;
}
/* icon end*/
/* business end============================================= */

/* event =================================================== */
.main-event {
  position: relative;
}
.event-list {
  position: relative;
  display: flex;
  flex-direction: column;
}
.event-list {
  width: 100%;
}
.main-event ul {
  padding: 64px 0;
  gap: 12px;
}
.main-event li {
  position: relative;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: var(--point-color11);
  padding: 23px 25px 28px;
  box-sizing: border-box;
}
.main-event li::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 200px;
  top: -16px;
  right: -11%;
  background: url(../../img/main/main_event/main_event_icon01.svg) no-repeat
    center;
  background-size: 100% auto;
}
.main-event li:nth-of-type(2) {
  background: var(--point-color12);
}
.main-event li:nth-of-type(2)::before {
  height: 140px;
  background: url(../../img/main/main_event/main_event_icon02.svg) no-repeat
    center;
  background-size: auto 90%;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
}
.main-event .main-title {
  flex-direction: column;
}
.main-event .main-title p,
.main-event .main-title h4 {
  margin-top: 14px;
}
.main-event .main-title h4 {
  font-size: 125%;
  font-weight: 800;
  color: var(--black-color04);
  line-height: 1.25;
  letter-spacing: -0.04em;
}
.main-event .main-title p {
  font-size: 90%;
  font-weight: 500;
  color: var(--black-color07);
  line-height: 1.45;
  letter-spacing: -0.04em;
}
.main-event .more-btn {
  display: block;
  margin-top: 14px;
}
.main-event .more-btn span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 40px;
  font-size: 95%;

  font-weight: 500;
  color: var(--black-color05);
  border-radius: 100px;
  background: var(--point-white);
  transition: all 0.4s;
}

@media screen and (min-width: 480px) {
  .main-event li {
    padding: 30px 35px 45px;
  }
  .main-event li::before {
    width: 260px;
    height: 200px;
  }
  .main-event li:nth-of-type(2)::before {
    height: 160px;
  }
  .main-event .more_btn span {
    width: 100px;
    height: 45px;
  }
  .main-event .main-title h4 {
    font-size: 200%;
  }
  .main-event .main-title p {
    font-size: 100%;
  }
}
@media screen and (min-width: 640px) {
  .main-event li {
    padding: 35px 40px 45px;
  }
  .main-event li::before {
    width: 343px;
    height: 265px;
    top: -1%;
    right: -3%;
  }
  .main-event li:nth-of-type(2)::before {
    height: 227px;
  }
  .main-event .more_btn span {
    width: 120px;
    height: 50px;
  }
}
@media screen and (min-width: 860px) {
  .main-event li {
    padding: 40px 45px 50px;
  }
}
@media screen and (min-width: 1023px) {
  .event-list {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .main-event li {
    padding: 44px 50px 56px;
  }
  .main-event .more_btn span {
    width: 130px;
    height: 54px;
    font-size: var(--title-20);
  }
}
/* event end=============================================== */
