@charset "utf-8";

.swiperVisual {
  position: relative;
  width: 100%;
}
.swiperVisual .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiperVisual .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(1.2);
  transition: all 0.6s ease;
}

.swiperVisual .swiper-slide-active {
  transform: scale(1);
}

.swiperVisual .swiper-slide img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 슬라이드 txt */
.visual-txt-wrap {
  position: absolute;
  top: 24vw;
  left: 4vw;

  text-align: left;
}
.visual-txt-wrap h2 {
  font-size: 140%;
  font-weight: 600;
  letter-spacing: -0.08em;
  opacity: 0;
}

.visual-txt-wrap h6 {
  font-size: 60%;
  font-weight: 200;
  opacity: 0;
}

.swiperVisual .swiper-slide-active .visual-txt-wrap h2 {
  animation: fadeInUp 0.8s ease-out forwards;
}
.swiperVisual .swiper-slide-active .visual-txt-wrap h6 {
  animation: fadeInUp 0.9s ease-out forwards;
}

.swiperVisual .swiper-slide:nth-of-type(1) span {
  color: var(--point-color03);
}
.swiperVisual .swiper-slide:nth-of-type(2) span {
  color: var(--point-color04);
}
.swiperVisual .swiper-slide:nth-of-type(3) span {
  color: var(--point-color05);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 480px) {
  .visual-txt-wrap h2 {
    font-size: 200%;
    font-weight: 800;
    letter-spacing: -0.08em;
  }
  .visual-txt-wrap h6 {
    font-size: 80%;
    font-weight: 100;
  }
}
@media screen and (min-width: 640px) {
  .swiperVisual .swiper-wrapper .swiper-slide img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .visual-txt-wrap {
    position: absolute;
    top: 12vw;
    left: 4vw;
  }
  .visual-txt-wrap h2 {
    font-size: 170%;
    font-weight: 800;
    letter-spacing: -0.08em;
  }

  .visual-txt-wrap h6 {
    font-size: 75%;
    font-weight: 100;
  }
}
@media screen and (min-width: 1023px) {
  .visual-txt-wrap h2 {
    font-size: 320%;
    font-weight: 800;
    letter-spacing: -0.08em;
  }

  .visual-txt-wrap h6 {
    font-size: 110%;
    font-weight: 100;
  }
}
@media screen and (min-width: 1200px) {
  .visual-txt-wrap {
    position: absolute;
    top: 12vw;
    left: 10.42vw;
  }
}
/* 슬라이드 txt end */

/* 슬라이드 navi */
.swiper-navi {
  position: absolute;
  bottom: 4vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.2rem;

  z-index: 1;
}
.custom-prev,
.custom-next,
.custom-stop-play {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--point-white, #fff);
  border-radius: 4px;
  cursor: pointer;
}
.custom-prev::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/icon/swiper_arw.svg") no-repeat center;
}
.custom-next::before {
  content: "";
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/icon/swiper_arw.svg") no-repeat center;
  transform: scaleX(-1);
}

.custom-stop-play::before,
.custom-stop-play::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 11px;
  background: var(--black-color02);
  top: 50%;
  left: 50%;
  margin-top: -5.5px;
  margin-left: -4px;
  border-radius: 4px;
}
.custom-stop-play::after {
  margin-left: 2px;
}
.custom-stop-play.playing::before {
}

/* 슬라이드 navi end */
